#l-intro-section {
    padding: 0 275px;
}
#l-content-section {
    padding: 0 165px;
    section {
        position: relative;
        padding: 200px 0 0;
    }
    #l-clients-section {
        margin: 200px 0 0;
        padding: 130px 0 0;
    }
}
