$white : #FFFFFF;
$darkGray: #333333;
$lightGray: #4F4F4F;
$veryLightgray: #828282;
$inputTxtGray: #BDBDBD;
$inputBgGray: #F2F2F2;
$blue: #2D9CDB;
$green: #27AE60;
$pink: #EB5757;
$footerBg: #100E1D;

$OSctaTxt:#828282;
$OSctaBg: #E0E0E0;



